@numberless:registry=https://pkgs.dev.azure.com/numberless-india/Port/_packaging/port-packages/npm/registry/ 

always-auth=true
; begin auth token
//pkgs.dev.azure.com/numberless-india/Port/_packaging/port-packages/npm/registry/:username=numberless-india
//pkgs.dev.azure.com/numberless-india/Port/_packaging/port-packages/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/numberless-india/Port/_packaging/port-packages/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/numberless-india/Port/_packaging/port-packages/npm/:username=numberless-india
//pkgs.dev.azure.com/numberless-india/Port/_packaging/port-packages/npm/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/numberless-india/Port/_packaging/port-packages/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
